<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ashley.example"
        version   = "1.0.0">

    <name>Ashleys Cat App</name>

    <description>
        Please work. I don't know what I'm doing.
    </description>

    <author href="http://build.phonegap.com" email="support@phonegap.com">
        Ashley Kaniatobe
    </author>

    
    <!-- Plugins -->

    <!-- Core plugins -->
<gap:plugin name="org.apache.cordova.battery-status" version="0.2.11" />

</widget>
